@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@



@import service.UserProvider
@(userProvider: UserProvider , email: String)

@main(userProvider, Messages("playauthenticate.index.title")) {
      
<center>
<div>
  <h3><b>Contact Us</b></h3>
  <h5>@email</h5>
</div>

<div>
  <a href="https://www.facebook.com/amit.awinash">
    <img src="/assets/icons/facebook-24x24.png" >
  </a>
  <br>
  <br>
  <br>
  <br>

  <br><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <br><br>
  <br>
  <br>
</div>
</center>
      
    }