

@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@



@import service.UserProvider
@(userProvider: UserProvider , key: String , numberOfOrders: String , listOfOrders: String)

@main(userProvider, Messages("playauthenticate.index.title")) {

      <!-- Main jumbotron for a primary marketing message or call to action -->
 <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This page is for Admin">
        <meta name="author" content="Amit">

        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Application.jsRoutes" defer="defer"></script>
<style type="text/css">
  #parent_div_1, #parent_div_2, #parent_div_3{
    float:left;
  }
  .child_div_1{
    float:left;
    margin-right:55px;
  }
</style>
<link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
<link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet">
      
      <h2 style="border-color: pink ">Welcome to HereThere courier service</h2>
                   
<body>
 
  <div class="jumbotron" id='parent_div_1' style="background-color: #FAEEAF ;width: 98%;border-radius: 15px">
      <div>
        <div id='parent_div_1'>
          <div class="child_div_1" style="background-color: #BFD3F0 ;border-radius: 10px ">
            <form action="/findOrderId" style="margin: 25px;"  >
                <h5 style="box-shadow: currentColor;">Get all order Id</h5>
                <select class="form-control"   name="findByKey"  required="value" />
                <option value="findByEmail">Find By Email</option>
                <option value="findByState">Find By State</option>
                <option value="findByPincode">Find By Pincode</option>
                </select>
                <input class="form-control" type="text-center" name="value" placeholder="Enter Email/State/Pincode"    maxlength="24" required >
                <input class="form-control" type="submit" name="action"  value="Get all order Id">
            </form>
        </div>
          <div class="child_div_1" style="background-color: #BFD3F0 ;border-radius: 10px ">
           <form action="/updateOrderStatus"  style="margin: 25px;" >
              <h5 style="box-shadow: currentColor; ">Update Order Status</h5>
              <input class="form-control" type="text-center" name="orderNumber" placeholder="Order Number"    maxlength="24" required >
              <select class="form-control"   name="shipmentStatus"  required="value" />
               <option value="Airport">Airport</option>
               <option value="warehouse">Warehouse</option>
               <option value="delivered">Delivered</option>
               <option value="addressNotFound">Address Not Found</option>
              </select>
              <input class="form-control" type="submit" name="" value="Send" />
            </form>
          </div>
          <div class="child_div_1" style="background-color: #E0FDF7 ;border-radius: 10px ">
             <form action="/estimatedDate" style="margin: 25px;"  >
               <h5 style="box-shadow: currentColor;">Estimated Date Of Shipment</h5>
               <input class="form-control" type="text-center" name="orderNumber" placeholder="Enter Order Number" required  maxlength="24">
               <input  class="form-control" type="Date" name="estimatedDate" required/>
               <input class="form-control" type="submit" name="action"  value="Estimated Date">
          </form>
          </div>
          <div class="child_div_1" style="background-color: #BFD3F0 ;border-radius: 10px;margin-top: 5%">
            <form action="/findOrderId" style="margin: 25px;"  >

            <h3 style="color: black  " id="h1" > Value  " @key " has Ordered @numberOfOrders  orders </h3>
            <h4>They are :- </h4>
            <h6>@listOfOrders</h6>
            </form>
          </div>
        </div>
      </div>
      <br>
      </div>


}