@(message: String)
      <!-- Main jumbotron for a primary marketing message or call to action -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This page is for User">
        <meta name="author" content="Amit">

        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Application.jsRoutes" defer="defer"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet">
</head>
<style type="text/css">
        

  #parent_div_1, #parent_div_2, #parent_div_3{
    float:left;
  }
  .child_div_1{
    float:left;
    margin-right:55px;
  }
</style>
      <h2 style="border-color: pink ">Welcome to HereThere courier service</h2>
  <div class="jumbotron" id='parent_div_1' style="background-color: #FAEEAF ;width: 100%">
      <div>
        <div id='parent_div_1'>

        <div class="child_div_1" style="background-color: #E0FDF7 ;border-radius: 10px " >
          <form action="/newUser" style="margin: 25px; margin-bottom: 0%"  >
            <h2>Recover Password</h2>
            <input class="form-control" type="email" name="userEmailId" placeholder="Enter your email Id"  maxlength="29" required  >
            <input class="form-control" type="password" name="oldPassword" placeholder="Enter old password"  maxlength="24">
            <h3>Or</h3>
            <h6>In which Year you were born ?</h6>
            <input class="form-control" type="password" name="sequrityAnswer" placeholder="Enter Answer"  maxlength="4">
            <input class="form-control" type="submit" name="action" value="Recover Password">
          </form>
          
        </div>
          
      </div>
      <br/>
      <br/>
      <br />
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <br>
          <br>
          <br>
        </div>
        <div class="col-xs-6 col-sm-4">
          <br>
          <br>
          <br>
       </div>
        <div class="col-xs-6 col-sm-4">
          <br>
          <br>
          <br>
        </div>
      </div>
