@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(orderId: String , cost: String)


<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Here There</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 200px 25px;

  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .container-fluid {
      padding: 30px 50px;
  }


  </style>

 
  </script>
</head>
<body>

<div class="jumbotron text-center">
 
  <form action="/transactions"> 
  <h4>Total cost for order id @orderId </h4>
  
  <h1>@cost &#x20B9</h1>
  <h4>accept terms and conditions</h4>
  <br>
  <input type="checkbox" name="orderId" value="@orderId" required/>
  <br>
  <button class="btn btn-danger" name="action" value="Make Payment">Make Payment</button>
  <button  class="btn btn-danger" name="action"  value="Cancle Order">Cancle Order</button> 
  
  </form>  
</div>



</body>


</html>