@import service.UserProvider
@(userProvider: UserProvider, localUser: models.User = null)

@main(userProvider, Messages("playauthenticate.navigation.restricted"), "restricted") {
      <style type="text/css">
     #parent_div_1, #parent_div_s, #parent_div_3{
    float:left;
  }
  .child_div_1{
    float:left;
    margin-right:55px;
  }
      </style>
      
      <h2 style="border-color: pink ">Welcome to HereThere courier service</h2>
                   

  <div class="jumbotron" id='parent_div_1' style="background-color: #FAEEAF ;width: 100%">
      <div>
        <div id='parent_div_1'>
        <div class="child_div_1" style="background-color: #BFD3F0 ;border-radius: 10px ">
             <form action="/findOrderId" style="margin: 25px;"  >
               <h5 style="box-shadow: currentColor;">Find order Id</h5>
               <select class="form-control"   name="findByKey"  required="value" />
               <option value="findByEmail">Find By Email</option>
               <option value="findByState">Find By State</option>
               <option value="findByPincode">Find By Pincode</option>
              </select>
               <input class="form-control" type="text-center" name="value" placeholder="Enter Email/State/Pincode"    maxlength="50" required >
              
               <input class="form-control" type="submit" name="action"  value="Get all order Id">
          </form>
          </div>
          <div class="child_div_1" style="background-color: #BFD3F0 ;border-radius: 10px ">
           <form action="/updateOrderStatus"  style="margin: 25px;" >
              <h5 style="box-shadow: currentColor; ">Update Order Status</h5>
              <input class="form-control" type="text-center" name="orderNumber" placeholder="Order Number"    maxlength="50" required >
              <select class="form-control"   name="shipmentStatus"  required="value" />
               <option value="Airport">Airport</option>
               <option value="warehouse">Warehouse</option>
               <option value="delivered">Delivered</option>
               <option value="addressNotFound">Address Not Found</option>
              </select>
              <input class="form-control" type="submit" name="" value="Send" />
            </form>
          </div>
          <div class="child_div_1" style="background-color: #E0FDF7 ;border-radius: 10px ">
             <form action="/estimatedDate" style="margin: 25px;"  >
               <h5 style="box-shadow: currentColor;">Estimated Date Of Shipment</h5>
               <input class="form-control" type="text-center" name="orderNumber" placeholder="Enter Order Number" required  maxlength="50">
               <input  class="form-control" type="Date" name="estimatedDate" required/>
               <input class="form-control" type="submit" name="action"  value="Estimated Date">
          </form>
          </div>
           
        </div>
      </div>
      <br/>
      <br/>
      
      <br />
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
        <div class="col-xs-6 col-sm-4">
          <br>
          <br>
          <br>
       </div>
        <div class="col-xs-6 col-sm-4">
          <br>
          <br>
          <br>
        </div>
      </div>






}
