@(listOfcourier: List[String] , orderId: String)
      <!-- Main jumbotron for a primary marketing message or call to action -->
 <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This page is for Admin">
        <meta name="author" content="Amit">

        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Application.jsRoutes" defer="defer"></script>
<style type="text/css">
  #parent_div_1, #parent_div_2, #parent_div_3{
    float:left;
  }
  .child_div_1{
    float:left;
    margin-right:55px;
  }
</style>
<link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
<link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet">
      
     
                   
<body style="background-color: #f4511e">
 <h2 style="border-color: pink ">Welcome to HereThere courier service</h2>
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        
                        
                    </ul>
                        
                </div>

  <div class="parent_div_1">
    <div class="child_div_1" style="background-color: #E0FDF7 ;border-radius: 10px ;margin-right: 0%">
        <h5 style="color: black">Princing</h><br>
        <h4 style="color: black">DHL = 100 &#x20B9</h4>
        <h4 style="color: black">DTDC = 200 &#x20B9</h4>
        <h4 style="color: black">AirPost = 300 &#x20B9</h4>
        <h4></h4>
        <h4></h4>
    </div>
        <div class="child_div_1" style="margin-left: 15%;background-color: skyblue">
        <center>
          <form   action="/payment" method="GET" >

            <h4>These are the courier service provider corporate : </h4>
           <table id="list" border="1px">
        <thead>
          <tr>
            
            <td>courier service provider</td>
          </tr>
        </thead>

        <tbody >

          @for(listOfOrder <- listOfcourier) {
          <center>
            <tr>
              <td>@listOfOrder</td> 
            </tr>
            </center>
          }
        </tbody>
      </table>

            <h6 style="color: red">Please select courier service provider </h6>
            <select class="btn btn-danger" name="shipmentType"  required="value" />
              <option value="DHL">DHL</option>
              <option value="DTDC">DTDC</option>
              <option value="AirPost">AirPost</option>
            </select>

            <h3>Your order number is : @orderId</h3>
            

            <br>
            <button class="btn btn-danger" value="@orderId" name="orderId">Next</button>
           
          </form>
          </center>

        </div>

            <br/>
            <br/>
            
            <br />
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
              <div class="col-xs-6 col-sm-4">
                <br>
                <br>
                <br>
             </div>
              <div class="col-xs-6 col-sm-4">
                <br>
                <br>
                <br>
              </div>
            </div>
</body>